#intro {
  position: relative;
  min-height: 100vh;
  //   overflow: hidden;
  .big-name {
    position: absolute;
    width: 100%;
    padding-bottom: calc(clamp(1.5em, 4vw, 2.5em) * 1.5);
    top: 50%;
    transform: translateY(-50%);
    @include desktop {
      bottom: 15vh;
      left: 0;
      transform: translateY(0%);
      top: auto;
    }
    .name-wrap {
      position: relative;
      display: flex;
      align-items: center;
    }
    h1 {
      position: relative;
      display: flex;
      align-items: center;
      color: $color-black-200;
      font-size: max(4em, 11vw);
      pointer-events: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      .spacer {
        padding: 0 3vw;
      }
    }
    .name-h1 {
      position: relative;
      display: flex;
      width: 100%;
    }
  }
}
#location.hanger {
  position: absolute;
  bottom: 25vh;
  left: auto;
  right: 5%;
  @include desktop {
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    bottom: auto;
    right: auto;
  }
  a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding-right: 25%;
    padding-left: 5%;
    line-height: 1.2;
  }
  svg {
    display: none;
    @include desktop {
      display: block;
    }
  }
}
