//fonts
$font-primary: "JosefinSans";

// all number color begin 200
//color white
$color-white: rgb(250, 250, 250);
// color green background
$color-green-200: rgb(165, 215, 214);
$color-green-300: rgb(78, 193, 188);
// color black text
$color-black-200: rgb(34, 30, 64);
// color pink background
$color-pink: rgb(244, 195, 198);
// color gray background
$color-gray-200: rgb(147, 148, 169);
