/*
Button background color
*/
/*
String Replace
*/
/*
Font Face
*/
/*
Cut text
*/
/*
flexbox
*/
/*=== MEDIA QUERY ===*/
@font-face {
  font-family: "JosefinSans";
  font-weight: 900;
  src: url("./../../fonts/josefinsan/JosefinSans-Bold.eot?") format("eot"), url("./../../fonts/josefinsan/JosefinSans-Bold.woff2") format("woff2"), url("./../../fonts/josefinsan/JosefinSans-Bold.woff") format("woff"), url("./../../fonts/josefinsan/JosefinSans-Bold.ttf") format("truetype"), url('./../../fonts/josefinsan/JosefinSans-Bold.svg#str-replace(JosefinSans, " ", "_")') format("svg");
  font-display: swap;
  /* or block, swap, fallback, optional */
}
@font-face {
  font-family: "JosefinSans";
  font-weight: 300;
  src: url("./../../fonts/josefinsan/JosefinSans-Light.eot?") format("eot"), url("./../../fonts/josefinsan/JosefinSans-Light.woff2") format("woff2"), url("./../../fonts/josefinsan/JosefinSans-Light.woff") format("woff"), url("./../../fonts/josefinsan/JosefinSans-Light.ttf") format("truetype"), url('./../../fonts/josefinsan/JosefinSans-Light.svg#str-replace(JosefinSans, " ", "_")') format("svg");
  font-display: swap;
  /* or block, swap, fallback, optional */
}
@font-face {
  font-family: "JosefinSans";
  font-weight: 600;
  src: url("./../../fonts/josefinsan/JosefinSans-Semibold.eot?") format("eot"), url("./../../fonts/josefinsan/JosefinSans-Semibold.woff2") format("woff2"), url("./../../fonts/josefinsan/JosefinSans-Semibold.woff") format("woff"), url("./../../fonts/josefinsan/JosefinSans-Semibold.ttf") format("truetype"), url('./../../fonts/josefinsan/JosefinSans-Semibold.svg#str-replace(JosefinSans, " ", "_")') format("svg");
  font-display: swap;
  /* or block, swap, fallback, optional */
}
@font-face {
  font-family: "JosefinSans";
  font-weight: 400;
  src: url("./../../fonts/josefinsan/JosefinSans-Medium.eot?") format("eot"), url("./../../fonts/josefinsan/JosefinSans-Medium.woff2") format("woff2"), url("./../../fonts/josefinsan/JosefinSans-Medium.woff") format("woff"), url("./../../fonts/josefinsan/JosefinSans-Medium.ttf") format("truetype"), url('./../../fonts/josefinsan/JosefinSans-Medium.svg#str-replace(JosefinSans, " ", "_")') format("svg");
  font-display: swap;
  /* or block, swap, fallback, optional */
}
html,
body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #fafafa;
}

main {
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  position: fixed;
  height: 100%;
}

.main-wrapper {
  box-sizing: border-box;
  width: 100vw;
  will-change: transform;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) {
  .main-wrapper {
    position: fixed;
  }
}

body.fix {
  overflow: hidden;
}

body {
  box-sizing: border-box;
  color: black;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-display: auto !important;
  background: white;
}

ul {
  list-style: none;
  margin: 0;
}

a,
a:hover {
  text-decoration: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.editor-post-featured-image .components-responsive-wrapper__content,
.components-responsive-wrapper__content {
  position: relative !important;
}

button:focus,
button {
  outline: none;
}

.btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 2.5em;
  z-index: 2;
  color: #221e40;
  position: relative;
  transform: rotate(0.001deg);
  pointer-events: none;
  will-change: transform, color;
}

.btn-click {
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 15px;
  min-width: 1em;
  height: 50px;
  padding: 10px 20px;
  font-size: 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  will-change: transform;
  outline: 0;
  transform: translateZ(0) rotate(0.001deg);
}

.btn-fill {
  background: #4ec1bc;
  position: absolute;
  width: 150%;
  height: 200%;
  border-radius: 50%;
  top: -50%;
  left: -25%;
  transform: translate3d(0, -76%, 0);
  will-change: transform;
  transition: background-color ease-in-out 0.25s;
}

.btn-red .btn-fill {
  background: #a5d7d6;
}

.btn-outline-red .btn-click {
  border: 1px solid #4ec1bc;
}

.btn-outline-red .btn-click {
  border: 1px solid #4ec1bc;
}

.btn-outline-red .btn-click .btn-text .btn-text-inner {
  font-weight: bold;
  color: #4ec1bc;
}

.btn-red .btn-click {
  background: #4ec1bc;
}

.btn-red .btn-click .btn-text .btn-text-inner {
  font-weight: bold;
  color: #fafafa;
}

.picture-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.rounded-div {
  width: 150%;
  content: "";
  display: block;
  position: absolute;
  background: #fafafa;
  height: 750%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -86.666%);
  z-index: 1;
}

.rounded-div-wrap {
  width: 100%;
  top: 0;
  position: relative;
  height: 10vh;
  overflow: hidden;
}
.rounded-div-wrap .rounded-div {
  width: 150%;
  content: "";
  display: block;
  position: absolute;
  background: #fafafa;
  height: 750%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -86.666%);
  z-index: 1;
}

.digital-ball {
  z-index: 500;
  position: absolute;
  top: 23px;
  right: 0;
  width: 3.7em;
  height: 3.7em;
  transform: translate(0%, 0%);
  background: #8f8f8f;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 992px) {
  .digital-ball {
    right: 23px;
    width: 4.7em;
    height: 4.7em;
  }
}
.digital-ball .overlay {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: digitalball 6s ease-in-out infinite;
}
.digital-ball .globe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  will-change: transform;
}

@keyframes globe {
  0% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}
.globe-wrap {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 0.125em #fafafa;
}

.globe .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset 0.1em 0px 0px 0.08em #fafafa;
  animation: circle1 2.7s linear infinite;
  font-size: 0.75em;
}

@keyframes circle1 {
  0% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em #fafafa;
    width: 100%;
  }
  49% {
    border-radius: 50%;
    box-shadow: inset 0.1em 0px 0px 0.08em #fafafa;
    background: transparent;
  }
  50% {
    border-radius: 0%;
    width: 0.175em;
    background: #fafafa;
  }
  51% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em #fafafa;
    background: transparent;
  }
  100% {
    border-radius: 50%;
    box-shadow: inset -0.1em 0px 0px 0.08em #fafafa;
    width: 100%;
  }
}
.globe :nth-child(1) {
  animation-delay: -1.8s;
}

.globe :nth-child(2) {
  animation-delay: -0.9s;
}

.globe .circle-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 55%;
  box-shadow: inset 0px 0px 0px 0.15em #fafafa;
  font-size: 0.75em;
}

.globe .circle-hor-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
  border-radius: 0%;
  height: 0.15em;
  background: #fafafa;
  font-size: 0.75em;
}

#job {
  position: absolute;
  width: 100%;
  left: 2%;
  bottom: 10%;
}
@media (min-width: 992px) {
  #job {
    top: 40%;
    bottom: auto;
    right: 10%;
    transform: translateY(-50%);
    left: auto;
  }
}
#job .job-name {
  font-size: 25px;
  line-height: 150%;
}
@media (min-width: 768px) {
  #job .job-name {
    font-size: 36px;
    line-height: 150%;
  }
}
@media (min-width: 992px) {
  #job .job-name {
    font-size: 45px;
    line-height: 150%;
  }
}

.span-lines.animate .span-line {
  position: relative;
  display: inline-flex;
  overflow: hidden;
}

#jobs-detail {
  width: 100%;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  pointer-events: none;
}
#jobs-detail .job-list-detail {
  width: 80%;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#jobs-detail .job-list-detail li {
  padding: 20px 50px;
  width: 100%;
  background: #221e40;
  position: absolute;
  top: 10%;
  left: 0;
  cursor: pointer;
  transform: scale(0);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  -moz-transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  -ms-transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  -o-transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
}
#jobs-detail .job-list-detail li.active {
  transform: scale(1);
  pointer-events: all;
  opacity: 1;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 800;
  pointer-events: none;
  background: transparent;
}
.loading-container .loading-words h2 {
  margin: 0;
  padding: 0;
  color: #221e40;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding-left: 0.6em;
  white-space: nowrap;
  padding-right: 0.4em;
  will-change: opacity;
}
.loading-container .loading-screen {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  will-change: top;
}

.loading-screen,
.loading-container .rounded-div-wrap.top .rounded-div,
.loading-container .rounded-div-wrap.bottom .rounded-div {
  background: #4ec1bc;
}

.loading-container .rounded-div-wrap.top {
  top: 0;
  position: absolute;
  transform: translateY(-99%) scale(1, -1);
  z-index: 2;
  height: 0vh;
  will-change: height;
}

.loading-container .loading-words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  display: block;
  will-change: opacity;
}

.loading-container .rounded-div-wrap.bottom {
  top: unset;
  bottom: 0;
  position: absolute;
  transform: translateY(99%);
  z-index: 2;
  height: 0vh;
  will-change: height;
}

.rounded-div-wrap {
  width: 100%;
  top: 0;
  position: relative;
  height: 10vh;
  overflow: hidden;
}

.loading-container .rounded-div-wrap.bottom {
  top: unset;
  bottom: 0;
  position: absolute;
  transform: translateY(99%);
  z-index: 2;
  height: 0vh;
  will-change: height;
}

.loading-container .rounded-div-wrap.top {
  top: 0;
  position: absolute;
  transform: translateY(-99%) scale(1, -1);
  z-index: 2;
  height: 0vh;
  will-change: height;
}

.rounded-div-wrap {
  width: 100%;
  top: 0;
  position: relative;
  height: 10vh;
  overflow: hidden;
}

.rounded-div {
  width: 150%;
  content: "";
  display: block;
  position: absolute;
  background: #fafafa;
  height: 750%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -86.666%);
  z-index: 1;
}

body.nav-active {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-link.btn-left-top .cbd {
  overflow: hidden;
  position: relative;
}

.btn-link.btn-left-top:hover .code-by {
  transform: translateX(-4.7em) rotate(0.001deg);
}

.btn-link.btn-left-top .code-by {
  transform: translateX(0) rotate(0.001deg);
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s 0.2s ease-in-out;
  -moz-transition: 0.3s 0.2s ease-in-out;
  -ms-transition: 0.3s 0.2s ease-in-out;
  -o-transition: 0.3s 0.2s ease-in-out;
  transition: 0.3s 0.2s ease-in-out;
}

.btn-link.btn-left-top .shin {
  transform: translateX(0) rotate(0.001deg);
  position: relative;
  display: inline-block;
  padding-left: 10px;
  padding-right: 5px;
  -webkit-transition: 0.3s 0.2s ease-in-out;
  -moz-transition: 0.3s 0.2s ease-in-out;
  -ms-transition: 0.3s 0.2s ease-in-out;
  -o-transition: 0.3s 0.2s ease-in-out;
  transition: 0.3s 0.2s ease-in-out;
}

.btn-link.btn-left-top:hover .shin {
  padding-right: 2em;
  transform: translateX(-8.1em) rotate(0.001deg);
}

.btn-link.btn-left-top .thanhnha {
  position: absolute;
  opacity: 1;
  -webkit-transition: 0.3s 0.2s ease-in-out;
  -moz-transition: 0.3s 0.2s ease-in-out;
  -ms-transition: 0.3s 0.2s ease-in-out;
  -o-transition: 0.3s 0.2s ease-in-out;
  transition: 0.3s 0.2s ease-in-out;
  top: 0;
  left: 0;
  transform: translateX(2.8em);
  white-space: nowrap;
}

header .btn-link .btn-text {
  padding: 0 calc(clamp(1.5em, 4vw, 2.5em) / 2);
  position: relative;
}
header .btn-link .btn-click {
  border: 0;
  border-radius: 0;
  overflow: visible;
}

#sidebar-menu .btn-click {
  height: auto;
}

.btn-hamburger {
  position: fixed;
  top: 2%;
  right: 5%;
  transition: transform 0.4s cubic-bezier(0.36, 0, 0.66, 0);
  transform: translateY(0%) scale(0) rotate(0.001deg);
  z-index: 105;
}
@media (min-width: 768px) {
  .btn-hamburger {
    top: 5%;
    right: 5%;
  }
}
.btn-hamburger .btn-click,
.btn-hamburger .btn-text {
  width: clamp(4em, 5.5vw, 5em);
  height: clamp(4em, 5.5vw, 5em);
  border-radius: 100%;
}

.btn-hamburger .btn-click {
  border: 0;
  background-color: #221e40;
  transition: background-color 0.25s cubic-bezier(0.36, 0, 0.66, 0), box-shadow 0.25s cubic-bezier(0.36, 0, 0.66, 0);
}

.scrolled.btn-hamburger {
  transition: transform 0.4s cubic-bezier(0.34, 1.5, 0.64, 1);
  transform: translateY(0%) scale(1) rotate(0.001deg);
}

.active.btn-hamburger .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.active.btn-hamburger .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -60;
  stroke-width: 6;
}
.active.btn-hamburger .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

#hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
#hamburger svg {
  width: 50px;
  height: 50px;
}
#hamburger .line {
  fill: none;
  stroke: #fafafa;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
#hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
#hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
#hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.fixed-nav-back {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 40%, black 80%);
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  z-index: 100;
  pointer-events: none;
  will-change: opacity;
}

.fixed-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #221e40;
  z-index: 100;
  transform: translate(calc(100% + 6vw), 0) rotate(0.001deg);
  transition: transform 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: transform;
  width: 100%;
}
@media (min-width: 768px) {
  .fixed-nav {
    width: auto;
  }
}
.fixed-nav .fixed-nav-rounded-div {
  position: absolute;
  left: 1px;
  transform: translateX(-100%);
  height: 100%;
  top: 0;
}
.fixed-nav .fixed-nav-rounded-div .rounded-div-wrap {
  width: 6vw;
  height: 100%;
  -webkit-transition: 0.3s 0.2s ease-in-out;
  -moz-transition: 0.3s 0.2s ease-in-out;
  -ms-transition: 0.3s 0.2s ease-in-out;
  -o-transition: 0.3s 0.2s ease-in-out;
  transition: 0.3s 0.2s ease-in-out;
  transition: all 0.85s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: width;
}

.fixed-nav-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15vh 7.5vw 10vh 7.5vw;
  position: relative;
  transform: translate(0, 0) rotate(0.001deg);
  -webkit-transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  -moz-transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  -ms-transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  -o-transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  transition: all 0.6s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: transform;
}

.fixed-nav .nav-row ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
}

.fixed-nav .nav-row ul .btn {
  transform: translate(15vw, 0) rotate(0.001deg);
  transition: all 0.8s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: transform;
}

.fixed-nav .nav-row ul .btn:nth-child(2) {
  transition-delay: 0.03s;
}

.fixed-nav .nav-row ul .btn:nth-child(3) {
  transition-delay: 0.06s;
}

.fixed-nav .nav-row ul .btn:nth-child(4) {
  transition-delay: 0.09s;
}

.nav-active .fixed-nav .nav-row ul .btn {
  transform: translate(0, 0) rotate(0.001deg);
}

.nav-active .fixed-nav-back {
  opacity: 0.35;
  pointer-events: all;
}

.fixed-nav-back.active {
  opacity: 0.35;
  pointer-events: all;
}

.nav-active .fixed-nav {
  transform: translate(0, 0) rotate(0.001deg);
}

.nav-active .fixed-nav-rounded-div .rounded-div-wrap {
  width: 0vw;
}

.fixed-nav-rounded-div .rounded-div-wrap .rounded-div {
  background: #221e40;
  height: 150%;
  content: "";
  display: block;
  position: absolute;
  width: 775%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-6.5%, -50%);
}

footer .icon-social {
  padding: 0;
}

.mouse-pos-list-image {
  width: 0;
  z-index: 25;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  display: block;
  left: 50%;
  overflow: hidden;
  transition: width 0.4s cubic-bezier(0.36, 0, 0.66, 0);
  will-change: transform, width;
}
.mouse-pos-list-image::before {
  display: block;
  content: "";
  padding-top: 100%;
}
.mouse-pos-list-image-bounce {
  overflow: hidden;
  transform: scale(1) rotate(0.001deg);
  transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: transform;
}
.mouse-pos-list-image-bounce .float-image-wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  will-change: transform;
}
.mouse-pos-list-image-bounce .float-image-wrap .mouse-pos-list-image-inner {
  position: relative;
  width: 0;
  display: block;
  overflow: hidden;
}
.mouse-pos-list-image-bounce .float-image-wrap .mouse-pos-list-image-inner .overlay {
  position: absolute !important;
}
.mouse-pos-list-image-bounce .float-image-wrap .mouse-pos-list-image-inner::before {
  display: block;
  content: "";
  padding-top: 100%;
}
.mouse-pos-list-image-bounce .float-image-wrap .mouse-pos-list-image-inner.visible {
  width: 100%;
}

#mouse-image.active {
  border-radius: 0;
  width: clamp(10em, 27.5vw, 25em);
  transition: width 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

#mouse-button {
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 0;
  background: #4ec1bc;
  position: fixed;
  z-index: 26;
  pointer-events: none;
  transform: translate(-50%, -60%);
  overflow: hidden;
  display: block;
  transition: width 0.4s cubic-bezier(0.36, 0, 0.66, 0), height 0.4s cubic-bezier(0.36, 0, 0.66, 0);
  will-change: transform, width, height;
}

#mouse-button.active {
  width: 80px;
  height: 80px;
  transition: width 0.4s cubic-bezier(0.34, 1, 0.64, 1), height 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

#mouse-button.active-mobile {
  width: 100px;
  height: 100px;
  transition: width 0.4s cubic-bezier(0.34, 1, 0.64, 1), height 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

#mouse-span {
  width: 0;
  height: 0;
  position: fixed;
  z-index: 26;
  pointer-events: none;
  transform: translate(-50%, -60%);
  overflow: hidden;
  background: transparent;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
  top: 0%;
  transition: width 0.4s cubic-bezier(0.36, 0, 0.66, 0), height 0.4s cubic-bezier(0.36, 0, 0.66, 0);
}

#mouse-span.active {
  width: 50px;
  height: 50px;
  transition: width 0.4s cubic-bezier(0.34, 1, 0.64, 1), height 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

#mouse-span.active-mobile {
  width: 50px;
  height: 50px;
  transition: width 0.4s cubic-bezier(0.34, 1, 0.64, 1), height 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

#mouse-main {
  position: fixed;
  z-index: 99999999;
  top: 0;
  width: 0;
  left: 0;
  height: 0;
  transition: opacity 0.6s;
  pointer-events: none;
  mix-blend-mode: difference;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#mouse-main .cursor-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 1px);
}
#mouse-main .cursor-outer .cursor-inner {
  background: #fff;
  width: 0;
  height: 0;
  transform: scale(0.05) rotate(135deg);
  opacity: 1;
  transition: transform 0.6s, border-radius 1s, opacity 0.6s;
  border-radius: 5px;
}
#mouse-main .cursor-outer .cursor-inner.active {
  width: 12rem;
  height: 12rem;
  transform: scale(0.5) rotate(-135deg);
  border-radius: 100%;
}

#intro {
  position: relative;
  min-height: 100vh;
}
#intro .big-name {
  position: absolute;
  width: 100%;
  padding-bottom: calc(clamp(1.5em, 4vw, 2.5em) * 1.5);
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 992px) {
  #intro .big-name {
    bottom: 15vh;
    left: 0;
    transform: translateY(0%);
    top: auto;
  }
}
#intro .big-name .name-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
#intro .big-name h1 {
  position: relative;
  display: flex;
  align-items: center;
  color: #221e40;
  font-size: max(4em, 11vw);
  pointer-events: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
#intro .big-name h1 .spacer {
  padding: 0 3vw;
}
#intro .big-name .name-h1 {
  position: relative;
  display: flex;
  width: 100%;
}

#location.hanger {
  position: absolute;
  bottom: 25vh;
  left: auto;
  right: 5%;
}
@media (min-width: 992px) {
  #location.hanger {
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    bottom: auto;
    right: auto;
  }
}
#location.hanger a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding-right: 25%;
  padding-left: 5%;
  line-height: 1.2;
}
#location.hanger svg {
  display: none;
}
@media (min-width: 992px) {
  #location.hanger svg {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
